<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v1.1.4322"/>
		<supportedRuntime version="v1.0.3705"/>
		<requiredRuntime version="v1.1.4322"/>
	</startup>
	<appSettings>
		<add key="propProjectProperties.ToolbarVisible" value="True" />
		<!-- enables saving metadata to files for troubleshooting -->
		<add key="WriteMetadataToTempFile" value="False" />
	</appSettings>
</configuration>