<?xml version="1.0" encoding="utf-8"?>
<Ch3EtahSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MetadataBrands>
    <Brand Name="XmlEntity" ProviderType="Ch3Etah.Core.Metadata.XmlMetadataProvider,Ch3Etah.Core" EntityType="Ch3Etah.Core.Metadata.XmlMetadataEntity,Ch3Etah.Core" />
    <Brand Name="OREntity" ProviderType="Ch3Etah.Core.Metadata.GenericMetadataProvider" EntityType="Ch3Etah.Metadata.OREntities.Entity, Ch3Etah.Core" />
  </MetadataBrands>
</Ch3EtahSettings>