<?xml version="1.0" encoding="utf-8"?>
<Ch3EtahSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MetadataBrands>
    <Brand Name="XmlEntity" ProviderType="Ch3Etah.Core.Metadata.XmlMetadataProvider,Ch3Etah.Core" EntityType="Ch3Etah.Core.Metadata.XmlMetadataEntity,Ch3Etah.Core" />
    <Brand Name="OREntity" ProviderType="Ch3Etah.Core.Metadata.GenericMetadataProvider" EntityType="Ch3Etah.Metadata.OREntities.Entity, Ch3Etah.Core" />
  </MetadataBrands>
  <TransformationEngines Default="NVelocity">
    <Engine Name="NVelocity" Description="Processes NVelocity templates" EngineType="Ch3Etah.Core.CodeGen.NVelocityEngine.NVelocityTransformationEngine,Ch3Etah.Core" />
    <Engine Name="XSLT" Description="Processes XSLT templates" EngineType="Ch3Etah.Core.CodeGen.Xslt.XsltTransformationEngine,Ch3Etah.Core" />
    <Engine Name="CodeSmith" Description="Processes CodeSmith templates" EngineType="Ch3Etah.CodeSmithSupport.Engine.CodeSmithTransformationEngine,Ch3Etah.CodeSmithSupport" />
  </TransformationEngines>
</Ch3EtahSettings>